<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <title>Web GPI</title>
    {% block ressources %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}

</body>
</html>