{% extends 'gpi_core/base.html' %}
{% block content %}
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit"/>
</form>
    <a href="{% url 'home' %}">Accueil</a>

{% endblock %}