{% extends 'gpi_core/base.html' %}
{% load static %}
{% block ressources %}

    <link rel="stylesheet" href="/static/list_gpi.css" type="text/css">
{% endblock %}
{% block content %}
    <a href="{% url 'create_gpi' %}">Créer GPI</a>
    <a href="{% url 'create_agency' %}">Créer agence</a>
    <form action="" method="post">
        {% csrf_token %}
        <input type="search" id="search_gpi_input" placeholder="rechercher un gpi">
    </form>

    </form>
    <table>
        <thead>
        <tr>
            <th><span class="sort_link" id="name_link">Agence</span></th>
            <th><span class="sort_link" id="address_link">Adresse</span></th>
            <th><span class="sort_link" id="metropolis_link">Ville</span></th>
            <th><span class="sort_link" id="zip_code_link">Code postal</span></th>
            <th><span class="sort_link" id="protocol_signing_date_link">Date de signature du protocole</span></th>
            <th><span class="sort_link" id="definitive_signing_date_link">Date signature définitive</span></th>
            <th><span class="crud_link" id="view_link">Voir GPI</span></th>
            <th><span class="crud_link" id="remove_link">Supprimer GPI</span></th>
        </tr>
        </thead>
        <tbody id="table_body">
        {% for gpi in list_gpi %}
            <tr>
                <td class="agency_cell">{{ gpi.agency }}</td>
                <td class="address_cell">{{ gpi.agency.address }}</td>
                <td class="metropolis_cell">{{ gpi.agency.metropolis }}</td>
                <td class="zip_code_cell">{{ gpi.agency.zip_code }}</td>
                <td class="protocol_signing_date_cell">{{ gpi.protocol_signing_date }}</td>
                <td class="definitive_signing_date_cell">{{ gpi.definitive_signing_date }}</td>
                <td class="view_cell"><a href="{% url 'view_gpi' gpi.id %}"><img src="/static/eye.svg" height="40"></a></td>
                <td class="delete_cell"><a href=""><img src="/static/bin.svg" height="35"></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        /**
         * this function was copied on the django documentation website and is targeted to obtain a specific cookie.
         * In our case, we use it to get the csrf cookie for our ajax requests
         * @param name
         * @returns {null}
         */
        function getCookie (name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let links_array = document.querySelectorAll(".sort_link");
        let search_bar = document.querySelector('#search_gpi_input');
        const csrf_token = getCookie('csrftoken');

        function update_gpi_table (gpi_list) {
            let counter_line = 0;
            let table_body = document.querySelector('#table_body');

            table_body.innerHTML = '';
            for (let gpi of Object.entries(gpi_list)[0][1]) {
                let table_line = document.createElement('tr')
                let agency_cell = document.createElement('td');
                let address_cell = document.createElement('td');
                let metropolis_cell = document.createElement('td');
                let zip_code_cell = document.createElement('td');
                let protocol_signing_date_cell = document.createElement('td');
                let definitive_signing_date_cell = document.createElement('td');
                table_line.append(agency_cell, address_cell, metropolis_cell, zip_code_cell, protocol_signing_date_cell, definitive_signing_date_cell);
                table_body.append(table_line)
                agency_cell.innerHTML = gpi['agency_name'];
                address_cell.innerHTML = gpi['agency_address'];
                metropolis_cell.innerHTML = gpi['agency_metropolis'];
                zip_code_cell.innerHTML = gpi['agency_zip_code'];
                protocol_signing_date_cell.innerHTML = new Date(gpi['protocol_signing_date']).toLocaleDateString('fr-FR', {
                    year: "numeric",
                    month: "long",
                    day: "numeric"
                });
                definitive_signing_date_cell.innerHTML = new Date(gpi['definitive_signing_date']).toLocaleDateString('fr-FR', {
                    year: "numeric",
                    month: "long",
                    day: "numeric"
                });
            }
        }

        /**
         * this function is used to manage the situation where a user clicks on one of the table's header
         * it checks in a first time if there is another column than the one which is clicked with the class asc or desc on it.
         * If the previous statement is true, the class is removed. Then, the function set either the class 'asc' or 'desc' on the
         * appropriate header of the table and makes an ajax call to a backend view to sort the datas following a criteria.
         * When the result is received, it's inserted in the table as the new html content.
         * @param e
         */
        function link_clicked (e) {
            let clicked_link = document.querySelector(`#${e.target.id}`);
            let order;
            for (let link of links_array) {
                if (link.id != clicked_link.id) {
                    if (link.classList.contains('asc')) {
                        link.classList.remove('asc');
                    }
                    else if (link.classList.contains('desc')) {
                        link.classList.remove('desc');
                    }
                }
            }
            if (clicked_link.classList.contains('asc') == true) {
                clicked_link.classList.remove('asc');
                if (clicked_link.classList.contains('desc') == false) {
                    clicked_link.classList.add('desc');
                    order = "desc";
                }

            }
            else if (clicked_link.classList.contains('desc') == true) {
                clicked_link.classList.remove('desc');
                if (clicked_link.classList.contains('asc') == false) {
                    clicked_link.classList.add('asc');
                    order = "asc";
                }
            }
            else {
                clicked_link.classList.add('asc');
                order = "asc";
            }
            call_sort_function(e, order);

        }
        function call_get_all_gpi()
        {
            const request = new Request("/dashboard/get_all_gpi/",
                {
                    method: 'POST',
                    headers: {'X-CSRFToken': csrf_token},
                    mode: "same-origin"
                })
            fetch(request)
                .then(response => response.json()).then(result => update_gpi_table(result))
        }
        function call_search_function (e) {
            const request = new Request("/dashboard/search_" + e.target.value + "/",
                {
                    method: 'POST',
                    headers: {'X-CSRFToken': csrf_token},
                    mode: "same-origin"
                })
            fetch(request)
                .then(response => response.json()).then(result => update_gpi_table(result));
        }

        /**
         *
         * @param e
         * @param order
         * This method calls an url with the criteria and the order to be used in the sort.
         * The order param mentions if the sort must be ascending or in the descending order.
         */
        function call_sort_function (e, order) {

            const request = new Request("/dashboard/sorted/" + e.target.id + "/" + order + "/", {
                method: 'POST',
                headers: {'X-CSRFToken': csrf_token},
                mode: 'same-origin'


            })
            fetch(request)
                .then(response => response.json())
                .then(result => update_gpi_table(result))
        }


        /**
         * this function is used to send gpi search using ajax and is triggered when the user input
         * a value in the search bar. the request is sent after a hard-coded lapse time only if the length of the content
         * of the search field at the end of timer is equal to the length of the content at the input event.
         * It allows us to avoid a server overloading with a huge amount of request.
         * @param e
         */
        function search_bar_changed (e) {
            if (e.target.value.length > 1) {
                let current_length = e.target.value.length;
                setTimeout(() => {
                    if (e.target.value.length == current_length) {
                        call_search_function(e);
                    }
                }, 1000);
                return;
            }
            if (e.target.value.length == 0) {
            call_get_all_gpi();
            return;
            }
            call_search_function(e)
            return;
        }

        for (let link_element of links_array) {
            link_element.addEventListener('click', link_clicked);
        }
        search_bar.addEventListener('input', search_bar_changed)
    </script>
{% endblock %}
