{% extends 'gpi_core/base.html' %}
{% block ressources %}
    <link rel="stylesheet" href="/static/view_task.css" type="text/css">
    <script src="/static/view_task.js" type="application/javascript" defer></script>
{% endblock %}
{% block content %}
    <form action="" method="post" id="task-form">
        {% csrf_token %}
        <table>
            <div class="row">{{ task_creation_form.name.label_tag }} {{ task_creation_form.name }}</div>
            <div class="row">{{ task_creation_form.description.label_tag }} {{ task_creation_form.description }}</div>
            <div class="row">{{ task_creation_form.duration.label_tag }} {{ task_creation_form.duration }}</div>
        <div class="row">


            {% if task_creation_form.come_after|length > 0 %}
                <div id="id_come_after" class="widget">
                    <span class="label-list">{{ task_creation_form.come_after.label_tag }}</span>
                    <span class="search-field"><input type="text"></span>
                    <div class="choices-container">
                        {% for task_come_after in task_creation_form.come_after %}
                            <div class="choice" data-task-id="{{ task_come_after.data.value.instance.id }}"
                                 data-pred-list="{% for pred in task_come_after.data.value.instance.come_before.all %}{{ pred.id }}{% if not forloop.last %}-{% endif %}{% endfor %}"
                                 data-suc-list="{% for suc in  task_come_after.data.value.instance.come_after.all %}{{ suc.id }}{% if not forloop.last %}-{% endif %}{% endfor %}">
                                {{ task_come_after }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if task_creation_form.come_before|length > 0 %}
                <div id="id_come_before" class="widget">
                    <span class="label-list">{{ task_creation_form.come_before.label_tag }}</span>
                    <span class="search-field"><input type="text"></span>
                    <div class="choices-container">
                        {% for task_come_before in  task_creation_form.come_before %}
                            <div class="choice" data-task-id="{{ task_come_before.data.value.instance.id }}"
                                 data-pred-list="{% for pred in task_come_before.data.value.instance.come_before.all %}{{ pred.id }}{% if not forloop.last %}-{% endif %}{% endfor %}"
                                 data-suc-list="{% for suc in task_come_before.data.value.instance.come_after.all %}{{ suc.id }}{% if not forloop.last %}-{% endif %}{% endfor %}">
                                {{ task_come_before }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
            <div class="row">
                {{ task_creation_form.earliest_start_date.label_tag }}
                {{ task_creation_form.earliest_start_date }} {{ task_creation_form.earliest_start_date.field.type }}
            </div>
            <div class="row">{{ task_creation_form.category.label_tag }} {{ task_creation_form.category }}</div>
            <div class="row">{{ task_creation_form.status.label_tag }}{{ task_creation_form.status }}</div>
        </table>
    </form>
    {% if task %}
    <form method="post" action="{% url "create_comment" task.id %}">
    {{ comment_form }}
    <input type="submit" value="ajouter commentaire">
    {% endif %}
    </form>
    <button type="submit" form="task-form">{% if not task %}créer{% else %}Modifier{% endif %}</button>
    {% if task %}<a href="{% url "delete_task" gpi.id task.id %}">
        <button>supprimer</button>
    </a>{% endif %}
    <a href="{% url "view_gpi" gpi.id %}">Retour au GPI</a>
    <a href="{% url "gpi_list" %}">Retour à la vue globale</a>
{% endblock %}