{% extends 'gpi_core/base.html' %}
{% block ressources %}
    <link rel="stylesheet" href="/static/view_gpi.css" type="text/css">
    <script src="/static/view_gpi.js" type="application/javascript" defer></script>
{% endblock %}
{% block content %}
    <div class="calendar-container">
        <div class="tasks-container"></div>
    </div>
    <template id="column">
    <div class="column-wrapper">
    </div>
    </template>
    <template id="day">
        <div class="day-container">
            <span class="day-cell"></span>
        </div>
    </template>
    <template id="month">
        <div class="month-container">
            <span class="month-cell"></span>
        </div>
    </template>
    <template id="year">
        <div class="year-container">
            <span class="year-cell"></span>
        </div>
    </template>
    {{ task_creation_form.errors }}
    <a href="{% url 'create_task' gpi.id  %}"><button id="add_task_button">Ajout tâche</button></a>
    <a href="{% url "gpi_list" %}"><button> Retour à l'accueil</button></a>
    {% for task, height in computed_tasks.items %}
        <div class="task"
             id="task_{{ task.id }}"
             data-earliest-start-date="{{ task.earliest_start_date|date:'Y/m/d' }}"
             data-earliest-end-date="{{ task.earliest_end_date|date:'Y/m/d' }}"
             data-margin="{{ task.margin }}"
             data-duration="{{ task.duration.days }}"
                {% if task.come_before.all %}
                    data-pred-list="{% for pred in task.come_before.all %}{{ pred.id }}{% if not forloop.last %}-{% endif %}{% endfor %}"
                {% endif %}
             data-height="{{ height.1 }}"
        >
            <a href="{% url "view_task" gpi.id task.id %}">
        {{ task.name }}
        </a>
        </div>
    {% endfor %}
    <div class="categories-container">{% for category in categories %}<span class="category-button">{{ category.name }}</span>{% endfor %}</div>
{% endblock %}
