th:hover
{
    cursor: pointer;
}
th .asc::after
{
    content:"croissant";
}
th .desc::after
{
    content: "décroissant";
}
td
{
    text-align: center;
    display: table-cell;
    border: 1px solid black;

}
table
{
    border: 1px solid black;
    border-collapse: collapse;
}