dialog
{
    border-radius: 7px;
}
html, body
{
    margin: 0px;
    height: 100%;
    scrollbar-width : none;
}
.select-multiple
{
    border-radius: 5px;
}
.calendar-container
{
    display: grid;
    height: 20%;
    width: 100%;
    grid-template-rows: 5fr 20fr;
}
.task
{
    background-color: #4ac1f7;
    margin-left: 20px;
    margin-right: 20px;
    place-self: center stretch;
    height: 45%;
    position: relative;
    text-align: center;
}
.task a
{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.month-container, .year-container
{
    display: grid;
    align-items: center;
}
.year-cell
{
    grid-row: 1/2;
    grid-column: 1/-1;
    justify-self: center;
}
.month-container
{
    grid-row: 2/3;
}
.month-cell
{
    grid-column: 1 /-1;
    justify-self: center;
}
.tasks-container
{
    display: grid;
    grid-row: 2/3;
    width: 100%;
}
.day-container
{
    text-align: center;
    border-left: #1b1b1b solid 2px;
    grid-row: 3/4;
}
.current-day
{
    background-color: yellowgreen;
}
canvas
{
    position: absolute;
}
.critical
{
    stroke: #006b1b;
}
.categories-container
{
    width: fit-content;
    border: 2px black solid;
}
.categories-container *
{
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid red ;
}
.categories-container :last-child
{
    border-right: none;
}
