html
{
    height: 100%;
}
body
{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}
body > *
{
    width: 80%;
}
form
{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.choices-container
{
    overflow: scroll;
    max-height: 50%;
}
.choices-container, .search-field
{
    display: block;
}
.widget
{
    display: inline-block;
    vertical-align: top;
    flex-grow: 1;
    height: 100%;
}
.search-field, .search-field > input
{
    display: block;
    width: 95%;
}
.row
{
    flex-grow: 1;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}
.row > *
{
    flex-grow: 1;
}